.gallery {
    width: 75%;
    margin: auto;
}

.swiper {
    width: 50%;
    height: 100%;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
}

.swiper-slide img {
    display: block;
    width: 100%;
}
