.nav {
    @apply m-auto pt-3 w-full;
    @apply fixed top-0 z-999;

    .nav__links {
        @apply flex items-stretch gap-x-10;
    }

    .nav__link-individual {
        overflow-wrap: break-word;
        letter-spacing: 0.1rem;
        text-wrap: balance;
        color: #ffc310;
        text-align: center;
        filter: drop-shadow(0.05em 0.05em black);
        -webkit-text-stroke: 0.04rem black;
        font-family: "Faustina", serif;
        font-optical-sizing: auto;
        font-weight: 800;
        font-style: normal;
        font-size: 1.2rem;

        &:hover {
            /* @apply text-orange-400; */
        }
    }

    .nav__group {
        @apply flex justify-between items-center;
        @apply pb-2 px-10;

        .nav__group__logo {
            svg {
                @apply size-13.5;
                color: #ffc310;
                @apply bg-black/40 p-1 rounded-sm;
            }
        }
    }
}

/* Desktop - Smaller */

.nav {
    @media (max-width: 1280px) {
        .nav__links {
            @apply gap-x-6;
        }

        .nav__link-individual {
            @apply text-sm;
        }
    }
}

/* Tablet */

.nav {
    @media (max-width: 959px) {
        .nav__links {
            @apply hidden;
        }

        .nav__link-individual {
            @apply hidden;
        }
    }
}

/* Mobile */

.nav {
    @media (max-width: 760px) {
        .nav__link-individual {
        }
    }
}
